body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.saludo {
  color: #0741ad;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.camisetas {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-img-top {
  width: 100%;
  height: 70%;
}

.descripcion {
  text-align: justify;
  font-size: 15px;
}
.card-text {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.card-title {
  font-size: 200px;
  font-weight: bold;
  text-align: center;
}
.count {
  margin-left: 55px;
}
.count-number {
  margin-left: 85px;
}
