.Toastify__toast--success {
    background: #1a84bd;
    border-radius: 50px;
    color: white;
}
.Toastify__progress-bar--success {
    background:white    
}
.Toastify__toast-icon {
    display:none;
}
